$color-primary: #e74b3b;
$color-collected: #f4af26;
$color-liked: #cf5548;
$color-background: #f7f7f7;
// author_type: 2 yellow
$author-yellow-v: 'src/assets/icon/yellow-v.png';
// author_type: 1 blue
$author-blue-v: 'src/assets/icon/blue-v.png';
// vip-icon 
// vip_flag:0 vip_status:0 novip
// vip_flag:1 vip_status(是否是会员):1 vip
// $sup-vip: vip_flag: 3 vip_status:2 svip
$vip-icon: 'src/assets/icon/vip-icon.png';
$sup-vip: 'src/assets/icon/sup-vip.png';
// ranks[0].code === 'staffPicks' pick
// $staff-pick: '';
// recommend_type: 0 none
// recommend_type: 1 
$xpc-picks: 'src/assests/icon/xpc-picks.svg'

// html {
//   justify-content: center ;
//   position: relative;
//   background: url($author-yellow-v);
// }
